.p1{
background-color:yellow;
}
.p2{
	background-color:pink;
}
.bold{
	color:red;
}
.italic
{
	color:blue;
}
.p3{
	background-color:skyblue;
}
.p4{
	background-color:gray;
}
.p5{
	background-color:green;
}

.header{
	color:blue;
	margin-left:30px; 
	text-align: center;
	
}
.underline{
	color:purple;
	]